extends layout

block content
  .Episode
    h1 #{episode.number} - #{episode.title}
    h3#Season Temporada #{episode.seasonNumber}, Episódio #{episode.seasonEpisodeNumber}
    if episode.imageUrl
      img(src=episode.imageUrl)
    p#Description #{episode.description}
    include ./includes/link_to_audio_file.jade
    include ./includes/social_buttons_episode.jade
  // Create the Disqus section for comments 
  #disqus_thread    
  script(type="text/javascript").
    var disqus_identifier = #{episode.disqusID};
  noscript Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
