extends layout

block content
  .Episode
    h1 #{episode.number} - #{episode.title}
    h3#Season Temporada #{episode.seasonNumber}, Episódio #{episode.seasonEpisodeNumber}
    if episode.imageUrl
      | <img src=!{episode.imageUrl}>
    p#Description #{episode.description}
    | <script type='text/javascript' src=!{episode.downloadCounterLink}></script>
    | <strong><a href=!{episode.downloadLink} title="Clique com o botão direito e 'Salvar link como...' para baixar">Ouvir / Baixar</a> - Baixado <script type='text/javascript'>document.write(dsCounter);</script> vezes</strong>
  #disqus_thread    
  script(type="text/javascript").
    var disqus_identifier = #{episode.disqusID};
  noscript Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
